*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F8F6F1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
